<!DOCTYPE html>
<html>
<head>
    <%= require('html!../../inc/heade-meta.ejs') %>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>Vuex 测试</title>
    <meta name="keywords" content="Vuex 测试" />
    <meta name="description" content="Vuex 测试" />
</head>
<body>
<div class="wrap">
    <%= require('./vuex.html') %>
</div>
<%= require('html!../../inc/footer-script.ejs') %>
</body>
</html>

