@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.plate-wrap {
  position: relative;
  .shou{
    position: absolute;
    top:38%;
    right: 14%;
    width: 100px !important;
    height: 100px !important;
    animation: flash 4s infinite ease;
    animation-fill-mode: both;
  }
  .bg-img {
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  .plate {
    position: absolute;
    width: 520px;
    height: 520px;
    left: 50%;
    margin-left: -260px;
    top: 44.5%;
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  .rotate-bg {
    position: relative;
  }
  .lotter-start-bgimg {
    pointer-events: none;
  }
  .lotter-start-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
  .go-btn {
    position: absolute;
    width: 148px;
    height: 148px;
    margin-top: -74px;
    margin-left: -74px;
    top: 50%;
    left: 50%;
    z-index: 99;
  }
  .gift-list-viw,.gift-view{
  }

  .gift-img,.gift-list{
    position: fixed;
    z-index: 5000;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  .layer-mask{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}