html,body {
  width: 100%;
  max-width: 100%;
}

.m-signature-pad{
  margin: 0 auto;
  width: 700px; /*no*/
  height: 700px; /*no*/
  border: 1px solid #cccccc;
}
canvas {
  margin: 0 auto;
  display: block;
  border: 1px solid red;
}
