<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>图片处理</title>
    <meta name="description" content="Signature Pad - HTML5 canvas based smooth signature drawing using variable width spline interpolation.">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body onselectstart="return false">
<%= require('./image.html') %>
</body>
</html>
