.plate-wrap{position: relative;
  .bg-img{
    img{width: 100%;height: auto;vertical-align: top;}
  }
  .plate{position: absolute;width: 73%; height: auto; left: 13%; top: 28%;
    img{width: 100%;height: auto;vertical-align: top;}
  }
  .rotate-bg{position: relative;}
  .lotter-start-bgimg{pointer-events: none;}
  .lotter-start-bg{position: absolute;width:100%;top: 0;left: 0;}
  .go-btn{position: absolute;width: 27%;top: 36%; left: 36.5%;z-index: 99;}
}