<!DOCTYPE html>
<html>
<head>
    <%= require('html!../inc/heade-meta.ejs') %>
    <script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>测试页面</title>
    <meta name="keywords" content="测试页面" />
    <meta name="description" content="测试页面" />
</head>
<body>
<div class="wrap">
    <div id="app"></div>
</div>
<%= require('html!../inc/footer-script.ejs') %>
</body>
</html>

